<div id="<%= dom_id note_entry %>">
  <p>
    <strong>Note:</strong>
    <%= note_entry.note %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= note_entry.timestamp %>
  </p>

  <p>
    <strong>Diary:</strong>
    <%= note_entry.diary_id %>
  </p>

</div>
