<h2>Editing Note Entry</h2>
<%= render "form", note_entry: @note_entry %>
<div class="mt-5 pt-2 border-top border-secondary text-secondary">
  <%= link_to "Show", @note_entry, class: "link link-secondary" %> |
  <%= link_to "Back", note_entries_path, class: "link link-secondary" %>
</div>
