<tr id="<%= dom_id diary %>">
  <th scope="row">
    <%= diary.name %>
  </td>
  <td>
    <%= link_to "See diary", diary, class: "link link-secondary" %><span class="text-secondary"> |</span>
    <%= button_to "Destroy this diary", @diary, method: :delete, class: "link link-danger", style: "text-decoration:underline;padding:0;background:none; border:none;", form: { style: "display:inline-block;" } %>
  </td>
</tr>
