<p class="text-success mb-4"><%= notice %></p>
<div class="d-flex align-items-center justify-content-between">
  <h2>Diaries</h2>
  <%= link_to 'New Diary', new_diary_path, class: "btn btn-primary" %>
</div>
<% if @diaries.exists? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Actions
        </th>
      </tr>
    </thead>
    <% @diaries.each do |diary| %>
      <%= render diary %>
    <% end %>
  </table>
<% else %>
  <p class="mt-2 text-secondary">No diary created yet. Click New Diary to get started.</p>
<% end %>
