<h2>Editing Goal</h2>
<%= render "form", goal: @goal %>
<div class="mt-5 pt-2 border-top border-secondary text-secondary">
  <%= link_to "Show", @goal, class: "link link-secondary" %> |
  <%= link_to "Back", goals_path, class: "link link-secondary" %>
</div>
