<h2>Editing Food Simple</h2>
<%= render "form", food_simple: @food_simple %>
<div class="mt-5 pt-2 border-top border-secondary text-secondary">
  <%= link_to "Show", @food_simple, class: "link link-secondary" %> |
  <%= link_to "Back", food_simples_path, class: "link link-secondary" %>
</div>
